<h1><%= @shopping_list.title %></h1>
<h2><%= @shopping_list.description %></h2>

<% if @shopping_list.has_incompleted_items? %>
  <h3>Incomplete Items:</h3>
  <ul>
    <% @shopping_list.shopping_items.incomplete.each do |todo_item| %>
      <li><%= todo_item.content %></li>
    <% end %>
  </ul>
<% end %>
<% if @shopping_list.has_completed_items? %>
  <h3>Complete Items:</h3>
  <ul>
    <% @shopping_list.shopping_items.complete.each do |todo_item| %>
      <li><%= todo_item.content %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
