<%= form_for [@shopping_list, @shopping_item] do |form| %>

  <% if @shopping_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_item.errors.count, "error") %> prohibited this shopping_item from being saved:</h2>

      <ul>
      <% @shopping_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.submit "Save" %>
<% end %>