<!-- Base SVG Sprite by making pretty
<svg class="icon">
  <use xlink:href="#social-twitter"></use>
</svg>
-->
<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
  <symbol id="item__misc" viewBox="0 0 50 50">
    <title>Address icon</title>
    <path d="M40.2,23.7l-14-12.3c-0.7-0.6-1.7-0.6-2.4,0l-14,12.3c-0.7,0.6-0.5,1,0.4,1h4.3v12.6c0,0.7,0.6,1.3,1.3,1.3h5.3v-8.3
    c0-0.7,0.6-1.3,1.3-1.3h5.3c0.7,0,1.3,0.6,1.3,1.3v8.3h5.3c0.7,0,1.3-0.6,1.3-1.3V24.8h4.3C40.7,24.8,40.9,24.3,40.2,23.7z"/>
  </symbol>

  <%= render 'icons/bathroom' %>
  <%= render 'icons/kitchen' %>
  <%= render 'icons/misc' %>

  <%= render 'icons/food' %>
  <%= render 'icons/drinks' %>
  <%= render 'icons/meals' %>
  <%= render 'icons/snacks' %>

</svg>
<!-- END SVG sprite -->