<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <title>Restock</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= render 'shared/svgicons' %>
</head>
<body>
  <%= render 'shared/svgicons' %>
  <%= render 'shared/header' %>

  <%= yield %>

  <%= render 'shared/scripts' %>
</body>
</html>
